
  <% 10.times do %> <!-- para usar algo de ruby debemos poner estos  -->
  <h1> y para ser bien ñoña que no falte lol: <%= @lol %> </h1>
  <h1><%= @name %> leyó este libro <%= @libros%></h1>  <!--tener en cuenta que como es para mostrar lleva el igual -->
  <h1>El sabio chewie dijo un dia  "<%= @chewie%>"</h1>
  <% end %>
