<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hola Sinatra</title>
</head>
<body>   <!--- aqui entraran los codigos de las vistas-->
  <%= yield %>  <!--- este se encarga de llamar las vistas -->
</body>
</html>
